* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.71)), url(../img/hero.jpg);
    height: 100vh;
    
    /* make entire image fit in viewport and centered */
    background-size: cover;
    background-position: center;
    
}

h1 {
    /* override normalize.css margins which leave a gap at the top */
    margin: 0;
}

.hero-text-box {
    /* centers everything right in the middle */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
